.nopasswordImgs {
  height: 40vh;
  width: 30vw;
}
.nopasswordText {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-left: 80px;
  color: white;
}
li {
  margin: 5px;
  width: 15vw !important;
}
button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0px solid;
}
.passwordStar {
  height: 2vh;
  width: 6vw;
}
